@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    overflow-x: hidden;
    overflow-y: hidden;
}
header {
    width: 100%;
    z-index: 999;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1b1b1b;
    padding: 10px 20px;
    margin-top: 20px;
}
h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-style: italic;
}

header ul {
    display: flex;
    list-style: none;
    margin-right: 40px;
}
header ul li {
    padding: 0 20px;
    display: flex;
}
header ul li a {
    text-decoration: none;
    font-family: poppins;
    color: #1b1b1b;
    padding: 10px 20px;
    border-radius: 10px;
    
}
header ul li a:hover {
    cursor: pointer;
    background-color: rgba(0, 250, 0, 0.993);
    transition: all 0.4s ease 0s;
    
}


.page {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to bottom, rgb(179, 247, 173),rgb(157, 245, 240));
    display: flex;
    align-items: center;
}
.content {
    position: relative;
    display: block;
    width: 30%;
    height: 300px;
    left: 200px;
    font-family: poppins;
}
.content h1 {
    font-size: 50px;
    margin-bottom: 20px;
}
.content span {
    color:rgba(0, 250, 0, 0.993)
}
.content p {
    font-size: 15px;
}

button {
    outline: none;
    border: none;
    padding: 15px 30px;
    margin-top: 20px;
    font-size: 15px;
    font-family: poppins;
    background-color: azure;
}
button:hover {
    cursor: pointer;
    background-color: rgba(0, 250, 0, 0.993);
}

.ball {
    position: absolute;
    width: 800px;
    height: 800px;
    background-color: rgba(0, 250, 0, 0.993);
    right: -200px;
    bottom: -300px;
    border-radius: 50%;
}